apiVersion: v1
kind: Service
metadata:
  name: brain-tasks-lb
  annotations:
    # Optional: to use an NLB or ALB specifics; remove if not needed
spec:
  type: LoadBalancer
  selector:
    app: brain-tasks
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
